body {
    font-family: 'Montserrat', sans-serif;
}

/*-------------Navbar--------------------*/
.navbar {
    font-family: "Sarabun", sans-serif;
}

.navbar-bandname a {
    font-family: "Sarabun", sans-serif;
    font-weight:bold;
    top: 0;
    left: 0;
    color: #fff;
    font-size:40px;
}

.navbar {
    z-index:1;
    background-color: black;
    width: 100%;
    min-height: 20px;
    z-index: 100;
    padding: 10px;
    top: 0px;
    opacity: 0.8;
    border-radius: 4px;
    position: fixed;
    border: none;
}

.navbar a, .nav h5 {
    font-family: "Sarabun", sans-serif;
    font-size: 32px;
}

.nav a {
    font-family: "Sarabun", sans-serif;
    font-size: 25px;
    color: #bababa;
    border:0;
    
}

.navbar-header:hover li {
    color: #bababa;
}

.navbar-center {
    position: relative;
}

/*------------Containers-----------------*/

.background-container {
    height: 100vh;
    
    background: url('../assets/images/thedevelopers.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;
    align-items: center;
  
}

.phrase-container {
    color: #cccccc;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.media-body {
    text-align: left;
    color: #cccccc;
    padding-top: 20px;
    margin-bottom: 0;
}

.aboutus-master {
    background-color: transparent;
    margin-top: 0;
    top: 5em;
    text-decoration: none;
}

.aboutus-container {
    align-items: center;
}

.my-container {
    color: #fff;
    
} 

.ourmusic-container  .col-xs-12 .col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    align-items: center;
    display: inline-block;
}



/*------------Dividers-----------------*/

.dividers {
    background-color: #919191;
    opacity: .70;
    width: 150px;
    height: 6px;
    border:0;
    margin-top: 20px;
  
}

.block-dividers {
    width: 250px;
    height: 5px;
    border: 0;
    background-color: #cccccc;
    opacity: 0.50;
}

.aboutus-dividers {
    background-color: #919191;
    opacity: .70;
    width: 150px;
    height: 6px;
    border:0;
    margin-top: 10px;
}

.photovideo-dividers {
    background-color: #919191;
    opacity: .70;
    width: 150px;
    height: 6px;
    border:0;
    margin-top: 10px;
    margin-bottom: 5px;
}

.opaque-overlay {
    position: absolute;
    top:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.5);
}

.social-links li a {
    color: #fff;
    font-size: 2em;
    margin-right: 5px;
}

.list-inline h5 {
    font-size: 20px;
    color: #fff;
}


/*------------Buttons-----------------*/

.site-feature .btn {
     font-weight:bold;
     border-radius:23px;
     width: 130px;
     background-color: #cccccc;
     font:"Sarabun";
     margin-bottom:10px;
     opacity: 0.65;
     transition: ease-in-out;
}

.site-feature .btn:hover {
    background-color:#bababa;
    
}

.signup-btn {
    margin-bottom: 5px;
    background-color:#bababa;
    color: #000;
    border-color:#000;
    transition: ease-in;
    
}

.navbar-container {
    position: fixed;
    background-color: black;
    width: 100%;
    min-height: 20px;
    z-index: 100;
    padding: 10px;
    top: 0px;
    opacity: 0.8;
}

.signup-btn .btn:hover a{
    background-color: #ffffff;
}

/*------------Footer-----------------*/

footer{
    background-color: #050505;
    color:#cccccc;
    min-height: 80px;
    width:100%;
    position:relative;
    bottom:0;
    text-align:center;
    padding-top: 15px;
}

/*---------Headers-----------------*/

.aboutus-header {
    text-align: center;
    text-decoration: none;
    color: #cccccc;
    margin-top: 0;
}

.page-header {
    text-align: center;
    text-decoration: none;
    color: #cccccc;
    margin-top: 0;
    border: none;
}

.photovideo-header {
    text-align: center;
    text-decoration: none;
    color: #cccccc;
    margin-top: 0;
    margin: 5px;
}


/*--------Audio------------*/
.audio-body{
    padding: 0;
    opacity: 0.75;
}

.audio-heading {
    text-align:center;
    color: #fff;
    text-decoration: bold;
}

.media-flex {
    padding: 10px;
    opacity: 0.8;
    
}

.audiocontrol-header {
    text-align: center;
    color: #fff;
    margin-bottom: 2px;
    text-decoration:underline; 
    
}

/*-----------Media queries----------------*/

@media (max-width:767px) {
    .mobile {
       height: 812px;
       width: 375px;
    }
}

/*------------Bookus------------------*/

.jumbotron {
    background-color:transparent;
    margin-bottom: 10px;
}

.jumbotron h2 {
    color: #cccccc;
    font-weight: bold;
}

.jumbotron .lead {
    color: #cccccc;
    margin: 25px 0;
}

.btn--cta {
    font-weight: bold;
    border-radius:23px;
    width:160px;
}

.btn--white {
    color:#000000;
    background-color:#cccccc;
    border-color:#cccccc;
}

.btn--white:hover
.btn--white:active
.btn--white:focus
.btn--white:active:focus {
    background-color:#000000;
    border-color:#515151;
    color:#ffffff;
}

/*------------Modal------------------*/

.modal-title {
    text-align: center;
}

@media (min-width: 768px)
.bs-example {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
    
.nav>li>a.btn-social:focus, .nav>li>a.btn-social:hover {
    background-color: rgba(200, 200, 200, 0.2);
}

.btn-success {
    background-color: #808080;
    border-color:#909090;
    color: #fafafa;
}

.btn-success:hover {
    background-color: #909090;
    border-color:#a1a1a1;
}

.nav>li.icon {
    display: inline-block;
} 

@media (max-width: 768px) {
    .nav>li:first-child.icon {
        display: block;
    }   
} 